[Unit]
Description=Keep deployment code and logs private
[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=paas-config-permissions.service
[Install]
WantedBy=timers.target
